<section class="mt-5">
    <div class="container mt-5 mb-5 p-5 bg-theme">
        <h1 class="text-white text-center">Terms & Conditions</h1>
        <div class="p-5 mt-4 bg-secondary-theme text-theme-primary">
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Libero placeat ipsa, repellat unde iure culpa, ea soluta nesciunt inventore consectetur nostrum aliquid consequuntur aspernatur exercitationem velit voluptas obcaecati itaque? Cumque.</p>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Libero placeat ipsa, repellat unde iure culpa, ea soluta nesciunt inventore consectetur nostrum aliquid consequuntur aspernatur exercitationem velit voluptas obcaecati itaque? Cumque.</p>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Libero placeat ipsa, repellat unde iure culpa, ea soluta nesciunt inventore consectetur nostrum aliquid consequuntur aspernatur exercitationem velit voluptas obcaecati itaque? Cumque.</p>

            <div class="text-center">
                <button class="btn btn-info btn-sm mt-4 btn-theme">Back to Home</button>
            </div>
        </div>
    </div>
</section>