<section class="futured-section">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-12 text-center mt-5">
        <h2 class="text-white">Featured posts</h2>
        <p class="text-white">
          Lorem ipsum dolor sit amet consectetur, adipisicing elit. Non neque
          modi error atque quam ab debitis repellendus, vero tempora, laborum
          unde harum ipsum reprehenderit dicta, eius impedit omnis optio minus.
        </p>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-3">
        <app-post-card></app-post-card>
      </div>
      <div class="col-lg-3">
        <app-post-card></app-post-card>
      </div>
      <div class="col-lg-3">
        <app-post-card></app-post-card>
      </div>
      <div class="col-lg-3">
        <app-post-card></app-post-card>
      </div>
    </div>
  </div>
</section>

<section class="container mt-5">
  <div class="col-md-12 text-center">
    <h2>Latest Post</h2>
    <p>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Nulla reiciendis
      maiores id iure temporibus illo soluta est officia, ipsum voluptatem quod
      mollitia sapiente asperiores architecto magnam distinctio corrupti a unde!
    </p>
  </div>

  <div class="row">
    <div class="col-md-4 mt-3">
      <app-post-card></app-post-card>
    </div>
    <div class="col-md-4 mt-3">
      <app-post-card></app-post-card>
    </div>
    <div class="col-md-4 mt-3">
      <app-post-card></app-post-card>
    </div>
    <div class="col-md-4 mt-3">
      <app-post-card></app-post-card>
    </div>
    <div class="col-md-4 mt-3">
      <app-post-card></app-post-card>
    </div>
    <div class="col-md-4 mt-3">
      <app-post-card></app-post-card>
    </div>
  </div>
</section>
